{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/eventManager.css" %}" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div id="searchbox">
        <form role="search" action="" method="get">
          <input class="inp_search" type="search" placeholder="Buscar..." />
        </form>
      </div>

      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="{% url 'events_list' %}">Eventos</a></li>
        <li><a href="{% url 'create_events' %}">Crear Evento</a></li>
        <li><a href="">Perfil</a></li>
      </ul>
    </nav>

    <div class="container_personal_info">
      <button class="btn_menu_info" ><img src="https://images.pexels.com/photos/2589653/pexels-photo-2589653.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""></button>
      <div class="container_info">
        <a href=""><img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/github_circle_black-512.png" alt=""></a>
      </div>
      
      
    </div>
    

    {% block content %} {% endblock %}
  </body>
</html>
