{% extends "eventManager/base.html" %}

{% block content %}
<header class="header-index">
    <h1>Ejemplo de Header</h1>
</header>
<main>
    <div class="container_box">
        <a href="{% url 'events_list' %}" class=" box_card box_events_list">
            <h2>Ver Eventos 👀</h2>
            <p>Adentrate en el mundo de los eventos y  ¡Unente a uno!</p>
            <sub>Eventos activos:</sub>
        </a>
        <a href="{% url 'create_events' %}" class="box_card box_create_events">
            <h2>Crear Eventos 📅</h2>
            <p>Adentrate en el mundo de los eventos y  ¡Unente a uno!</p>
        </a>
        <a href="" class="box_card box_events_top">
            <h2>Eventos Top 🔥</h2>
            <p>Adentrate en el mundo de los eventos y  ¡Unente a uno!</p>
        </a>
        <a href="" class="box_card box_perfil_user">
            <h2>Ver Tu Perfil 👤</h2>
            <p>Adentrate en el mundo de los eventos y  ¡Unente a uno!</p>
        </a>
    </div>
</main>
{% endblock %}
