*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_personal_info{
    width: 50px;
    height: 300px;
    background-color: transparent;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container_personal_info .container_info{
    width: 100%;
    height: 80%;
    
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
}
.container_info a{
    width: 45px;
    height: 45px;
    
    padding: 7px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
   background-color: #20252c97;
   transition: transform .3s ease-in;
   background: rgb(29,159,202);
   background: linear-gradient(59deg, rgba(29,159,202,1) 0%, rgba(72,65,233,1) 49%, rgba(102,0,255,1) 100%);
   position: relative;
   transform: translateY(60px) scale(.5);
    filter: blur(5px);
   z-index: -1;
}

.btn_menu_info:hover + .container_info > a {
    transform: translateY(0px) scale(1);
    opacity: 1;
    visibility: 1;
    filter: blur(0);
    
}

.container_info a img{
    width: 100%;
    height: 100%;
}



.btn_menu_info{
   
    width: 45px;
    height: 45px;
    padding: 7px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
   background-color: #20252c97;
   transition: transform .3s ease-in-out;
   order: 2;
   
   
}





.btn_menu_info img{
    width: 100%;
    height: 100%;
   
    border-radius: 50%;
}

body{
    background-color: #000214;
   
}

body::after{
    content: "";
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0px;
    left: 0px;
    filter: blur(125px);
    /* background-color: #8e0773a1; */
    background-color: #f4177a8b;
}

body::before{
    content: "";
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    filter: blur(125px);
    background-color: #1d9fca7b;
    /* background-color: #f4177a8b; */
}



nav{
    margin: 30px auto;
    width: 800px;
    background: #f4177a09;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(18.3px);
    -webkit-backdrop-filter: blur(18.3px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* position: fixed; */
    
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin: 0px 40px;
}

nav ul li a{
    text-decoration: none;
    color: #898989;
    transition: color .3s ease;
}

nav ul li a:hover{
    color: #fff;
}

form input{
    width: 200px;
    background-color: transparent;
    border: none;
    border: 1px solid #680934;
    padding-left:40px ;
    padding: 5px 5px 5px 40px;
    border-radius: 50px;
    color: #fff;
    position: relative;
   
}
form input:focus{
    outline: none;
    box-shadow: 0 0 10px #680934;
}

form::after{
    content: "";
    height: 1rem;
    left: 2.6rem;
    margin-top: -0.5rem;
    position: absolute;
    top: 50%;
    width: 1rem;
    background: url("data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwOWYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48Y2lyY2xlIGN4PSIxMSIgY3k9IjExIiByPSI4Ii8+PGxpbmUgeDE9IjIxIiB5MT0iMjEiIHgyPSIxNi42NSIgeTI9IjE2LjY1Ii8+PC9zdmc+")repeat;
       
}

.header-index{
    color: #fff;
    width: 800px;
    padding: 40px;
    height: 300px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 50px 5px #00000071;
    background: rgb(244,23,122);
    background: linear-gradient(59deg, rgba(244,23,122,1) 0%, rgba(65,0,244,1) 68%, rgba(0,192,255,1) 100%);
}

main{
    margin: auto;
    width: 800px;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.container_box{
    margin: auto;
    display: flex;
   flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
   

}



.box_card{

    width: calc(50% - 7.5px);
    height: 200px;
    border-radius: 8px;
    color: #fff;
    padding: 40px;
    transition: transform .3s ease-in-out;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.box_card:hover{
    transform: scale(1.03);
}

.box_events_list{
    background: rgb(244,23,122);
background: linear-gradient(59deg, rgba(244,23,122,1) 0%, rgba(65,0,244,1) 100%);
}

.box_events_list::after{
    content: "👀";
    font-size: 220px;
    position: absolute;
    right: -100px;
    top: -80px;
    opacity: 0.1;
    transform: rotate(-20deg);
}


.box_create_events{
    background: rgb(29,159,202);
background: linear-gradient(59deg, rgba(29,159,202,1) 0%, rgba(72,65,233,1) 49%, rgba(102,0,255,1) 100%);
}

.box_create_events::after{
    content: "📅";
    font-size: 220px;
    position: absolute;
    right: -100px;
    top: -80px;
    opacity: 0.1;
    transform: rotate(-20deg);
}

.box_perfil_user{
    background: rgb(102,0,255);
background: linear-gradient(59deg, rgba(102,0,255,1) 0%, rgba(201,0,255,1) 100%);
}

.box_perfil_user::after{
    content: "👤";
    font-size: 220px;
    position: absolute;
    right: -100px;
    top: -80px;
    opacity: 0.1;
    transform: rotate(-20deg);
}

.box_events_top{
    background: rgb(201,0,255);
background: linear-gradient(59deg, rgba(201,0,255,1) 0%, rgba(255,0,0,1) 100%);
}

.box_events_top::after{
    content: "🔥";
    font-size: 220px;
    position: absolute;
    right: -60px;
    top: -80px;
    opacity: 0.15;
    transform: rotate(-20deg);
}

.container_events{
    margin: auto;
    max-width: 800px;
    width: 800px;
}

.card_event{
    color: #fff;
    margin: 20px 0px;
    cursor: pointer;
    padding: 20px;
    border-radius: 8px;
    background: rgb(244,23,122);
    background: linear-gradient(59deg, rgba(244,23,122,1) 0%, rgba(65,0,244,1) 100%);
    transition: transform .3s ease-in-out;
}
.card_event:hover{
    transform: scale(1.03);
}

